In [2]:
import yfinance as yf
import pandas as pd

In [3]:
# Setting up start date and end date:
start_date = '2022-10-18'
end_date = '2022-10-19'

In [4]:
df = yf.download('PAYTM.NS',start_date,end_date,interval="1m")

[*********************100%***********************]  1 of 1 completed

In [5]:
df.shape

(375, 6)

In [6]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-10-18 09:15:00+05:30,678.650024,680.750000,678.400024,679.200012,679.200012,0
2022-10-18 09:16:00+05:30,679.400024,679.900024,678.750000,678.750000,678.750000,7510
2022-10-18 09:17:00+05:30,678.700012,679.099976,677.450012,678.049988,678.049988,13446
2022-10-18 09:18:00+05:30,677.500000,679.000000,677.500000,678.000000,678.000000,2828
2022-10-18 09:19:00+05:30,677.200012,677.200012,675.599976,676.900024,676.900024,11937

In [7]:
df.reset_index(inplace=True)

In [8]:
df.sort_values(by = 'High')
df_high = df.loc[df['High'].idxmax()]
df_high['Datetime']

Timestamp('2022-10-18 09:15:00+0530', tz='Asia/Kolkata')

In [9]:
df.sort_values(by = 'Low')
df_low = df.loc[df['Low'].idxmin()]
df_low['Datetime']

Timestamp('2022-10-18 15:20:00+0530', tz='Asia/Kolkata')

In [10]:
df2 = yf.download('PAYTM.NS',start_date,end_date)
df2

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-10-18 00:00:00+05:30,677.0,680.75,660.0,662.450012,662.450012,747176

In [11]:
df2['Time_High'] = df_high['Datetime']
df2['Time_Low'] = df_low['Datetime']
df2

,Open,High,Low,Close,Adj Close,Volume,Time_High,Time_Low
Date,,,,,,,,
2022-10-18 00:00:00+05:30,677.0,680.75,660.0,662.450012,662.450012,747176,2022-10-18 09:15:00+05:30,2022-10-18 15:20:00+05:30

In [16]:
del df['Volume'], df['Close']. df['Adj Close']

df2

AttributeError: 'Series' object has no attribute 'df'